canvas {
  border: 3px solid black;
}

canvas:hover {
  cursor: none;
}

audio {
  display: none;
}

body {
  margin: 0;
  display: flex;
}

.body-canvas {
  background-color: aliceblue;
}

header {
  background-color: #3D3D3D;
}

header img {
  width: 30%;
  display: flex;
  margin: 0 auto;
  padding: 3em 0;
}
.container {
  width: 900px;
  margin: 25px auto;
  display: flex;
}

.instructions {
  width: 50%;
}

.start {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 30px 0;
}

.start img {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2em;

}

.button-start {
  background-color: #3D3D3D;
  color: white;
  font-family: 'Rye';
  font-size: 2.5em;
  letter-spacing: 0.7em;
  padding: 0.1em 0 0.1em 0.7em;
  margin: 0 auto;
  width: 80%;
  text-decoration: none;
  text-align: center;
}

.button-start:hover {
  background-color: #3D3D3D;
  color: #c89e4c;
  font-family: 'Rye';
  font-size: 2.5em;
  letter-spacing: 0.7em;
  padding: 0.1em 0 0.1em 0.7em;
  margin: 0 auto;
  width: 80%;
  border: 3px solid #c89e4c;
  text-decoration: none;
  text-align: center;
}

.display {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly; 
  padding: 15px 0;
  align-items: center;
}
.pop-up-off {
  display: none;
}
.pop-up-on {
  position: fixed;
  display: block;
  top: 80px;
  left: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(244, 222, 162, 0.8);
  padding: 80px 200px;
}

.pop-up-on p {
  font-size: 1.8em;
}

.pop-up-on button {
  background: #404040;
  color: white;
  font-family: 'Rye';
  font-size: 1.2em;
  padding: 10px 30px;
  border: none;
  margin-top: 20px;
}

h1 {
  font-family: 'Rye';
  font-size: 2.4em;
  font-weight: normal;
}

p {
  font-family: 'IM Fell English';
  font-size: 1.2em;
}

li {
  font-family: 'IM Fell English';
  font-size: 1.2em;
  padding-bottom: 1em;
}

span {
  font-family: 'Rye';
  font-size: 2.8em;
}

